body{
   
}

h1{
    color: black;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
}

h2{
    color: black;
    font-size: 50px;
    font-family: 'Roboto', sans-serif; 
}


$tamañoA:650px;
$tamañoB:750px;

p{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 30px;
}

.boxbaner{
    background-color: #fcfcfc;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #fcfcfc 40px ), repeating-linear-gradient( #d7d7d755, #d7d7d7 );
    .baner{
       
        height: $tamañoA;
    }  
}

.boxabout{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,255,198,1) 100%);
    .about{    
        height: $tamañoA;
    }
}

.boxgaleria{
    h3{
      
        font-size: 45px;
    }
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,255,198,1) 100%);
    padding-bottom: 150px;
    padding-top: 150px;
    .galeria{
        height: $tamañoA;   
    }
}

.adoptedbox{
    .boximg{
        background-color: rgb(63, 63, 63);
    }
}