body{
   
}

h1{
    color: black;
    font-size: 90px;
    font-family: 'Caveat Brush', cursive;
    font-weight: bold;
}

h2{
    color: black;
    font-size: 60px;
    font-family: 'Caveat Brush', cursive;; 
    font-weight: 900;
}
h4{
    font-size: 35;
    font-family: 'Caveat Brush', cursive;
    font-weight: bold;
}


$tamañoA:750px;
$tamañoB:50px;

p{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Caveat Brush', cursive;
    margin: 30px;
}

.boxbaner{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,255,198,1) 100%);
    .baner{      
        height: $tamañoA;
    }  
    img{
        transform: scaleX(-1);
    }
}

.boxabout{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,255,198,1) 100%);
    .about{    
        height: $tamañoA;
    }
    i{
        color: black;
        font-size: 70px;
    }
   
}

.boxgaleria{
    h3{
      
        font-size: 45px;
    }
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,255,198,1) 100%);
    padding-bottom: 150px;
    padding-top: 150px;
    .galeria{
        height: $tamañoA;   
    }
    .card-title{
        font-family: 'Caveat Brush', cursive;
        font-size: 35px;
    }
}

.adoptedbox{
    .boximg{
        background-color: rgb(63, 63, 63);
    }
    .red{
        background-color: red;
    }
}


.boxcontacto{
    height: $tamañoA;
}